<h1>Showing all events created by user</h1>

  <h2>Previous Created Events</h2>
<% @past.each do |event|%>
<%= event.name %>
<%end%>
<h2>Upcoming Created Events</h2>
<% @future.each do |event|%>
<%= event.name %>
<%end%>